<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white"><%= Message::TYPES[params[:type].to_sym] %></h3>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Список</div>
  <div class="card-body">
    <% if @messages.present? %>
      <table class="table table-striped align-middle text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО</th>
            <th scope="col">Телефон</th>
            <th scope="col">Сообщение</th>
            <th colspan="2" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% @messages.each.with_index(1) do |message, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= message.name %></td>
            <td><%= message.phone %></td>
            <td><%= message.question %></td>
            <td>
              <%= link_to message_path(id: message, type: params[:type]), class: "btn btn-success" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-primary text-center" role="alert">Упс! Данные не найдены.</div>
    <% end %>
  </div>
</div>
