<%= form_with model: @link do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :link, class: "form-label" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
