<%= form_with model: @advantage do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 8, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
