<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "logo.png", alt: "Котлы Сибири" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Главная", root_path(anchor: :main), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "О компании", root_path(anchor: :about), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Каталог", root_path(anchor: :catalog), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Отзывы", root_path(anchor: :reviews), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Выгоды", root_path(anchor: :recommend), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Контакты", root_path(anchor: :contacts), class: "nav-link" %>
        </li>
        <li class="nav-item cart">
          <%= link_to cart_path, class: "nav-link" do %>
            <span class="counter"><%= current_order.order_items.map(&:quantity).sum || 0 %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
