<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white">Настройки</h3>
    </div>
    <div>
      <%= link_to edit_setting_path(@setting), class: "btn btn-light" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Просмотр</div>
  <div class="card-body">
    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Основные</legend>
      <p><b>Заголовок:</b> <%= @setting.main_title %></p>
      <p><b>Подзаголовок:</b> <%= @setting.main_subtitle %></p>
      <p><b>E-mail:</b> <%= @setting.main_email %></p>
      <p><b>Телефон:</b> <%= @setting.main_phone %></p>
      <p><b>Адрес:</b> <%= @setting.main_address %></p>
      <p><b>Текст кнопки:</b> <%= @setting.main_button_text %></p>
      <p><b>Ссылка кнопки:</b> <%= @setting.main_button_link %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">О нас</legend>
      <p><b>Заголовок:</b> <%= @setting.block2_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.block2_show ? "Да" : "Нет" %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Каталог</legend>
      <p><b>Заголовок:</b> <%= @setting.block3_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.block3_show ? "Да" : "Нет" %></p>
      <p><b>Текст кнопки:</b> <%= @setting.block3_button_text %></p>
      <p><b>Ссылка кнопки:</b> <%= @setting.block3_button_link %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Отзывы</legend>
      <p><b>Заголовок:</b> <%= @setting.block4_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.block4_show ? "Да" : "Нет" %></p>
      <p><b>Текст кнопки:</b> <%= @setting.block4_button_text %></p>
      <p><b>Ссылка кнопки:</b> <%= @setting.block4_button_link %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Рекомендации</legend>
      <p><b>Заголовок:</b> <%= @setting.block5_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.block5_show ? "Да" : "Нет" %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Бонусы</legend>
      <p><b>Заголовок:</b> <%= @setting.block6_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.block6_show ? "Да" : "Нет" %></p>
      <p><b>Текст кнопки:</b> <%= @setting.block6_button_text %></p>
      <p><b>Ссылка кнопки:</b> <%= @setting.block6_button_link %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Поддержка</legend>
      <p><b>Заголовок:</b> <%= @setting.block7_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.block7_show ? "Да" : "Нет" %></p>
      <p><b>Текст кнопки:</b> <%= @setting.block7_button_text %></p>
      <p><b>Ссылка кнопки:</b> <%= @setting.block7_button_link %></p>
    </fieldset>

    <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">Контакты</legend>
      <p><b>Заголовок:</b> <%= @setting.contacts_title %></p>
      <p><b>Показывать блок:</b> <%= @setting.contacts_show ? "Да" : "Нет" %></p>
      <p><b>Карта:</b> <%= @setting.contacts_map.html_safe %></p>
      <p><b>Показывать карту:</b> <%= @setting.contacts_show_map ? "Да" : "Нет" %></p>
    </fieldset>
  </div>
</div>
