<%= form_with model: @support do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :link, class: "form-label" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :group_id, class: "form-label" %>
    <%= form.select(:group_id, Group.all.map { |sc| [sc.title, sc.id] }, {include_blank: "Выберите группу"}, {class: "form-control", selected: @support.group}) %>
  </div>
  <div class="mb-3">
    <%= form.label :file, class: "form-label" %>
    <% if @support.file.attached? %>
      <p><%= @support.file.filename.to_s %></p>
    <% end %>
    <%= form.file_field :file, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
