<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white">Поддержка</h3>
    </div>
    <div>
      <%= link_to "Группы", groups_path, class: "btn btn-light" %>
      <%= link_to "Создать", new_support_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Список</div>
  <div class="card-body">
    <% if @supports.present? %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Ссылка</th>
          <th scope="col">Файл</th>
          <th scope="col">Группа</th>
          <th colspan="2" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @supports.each.with_index(1) do |support, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= support.title %></td>
            <td><%= link_to support.link, support.link, target: "_blank" %></td>
            <td><%= link_to support.file&.filename, support.file, target: "_blank" if support.file.present? %></td>
            <td><%= support.group.title %></td>
            <td><%= link_to "Редактировать", edit_support_path(support), class: "btn btn-primary" %></td>
            <td><%= link_to "Удалить", support_path(support), class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-primary text-center" role="alert">Упс! Данные не найдены.</div>
    <% end %>
  </div>
</div>
