<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white">Деятельность компании</h3>
    </div>
    <div>
      <%= link_to "Создать", new_activity_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Список</div>
  <div class="card-body">
    <% if @activities.present? %>
      <table class="table table-striped align-middle text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Картинка</th>
            <th scope="col">Описание</th>
            <th colspan="2" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% @activities.each.with_index(1) do |activity, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= image_tag(activity.icon) if activity.icon.attached? %></td>
            <td><%= activity.info %></td>
            <td><%= link_to "Редактировать", edit_activity_path(activity), class: "btn btn-primary" %></td>
            <td><%= link_to "Удалить", activity_path(activity), class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-primary text-center" role="alert">Упс! Данные не найдены.</div>
    <% end %>
  </div>
</div>
