<!-- Catalog -->
<section id="catalog">
  <div class="catalog-before"></div>

  <div class="catalog-greyline"></div>
  <div class="catalog-whiteline"></div>

  <div class="wrapper-left"></div>
  <div class="wrapper-right"></div>

  <div class="container">
    <h1 class="title">Каталог продукции</h1>

    <div class="row align-items-start list-products">
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>

      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="product-block">
          <div class="product-image">
            <%= image_tag "gelios-preview.png" %>
          </div>
          <div class="product-title">Котел Гелиос-12</div>
          <div class="product-more">узнать больше...</div>
        </a>
      </div>
    </div>

    <div class="row align-items-start list-services">
      <div class="col-3">
        <a href="#" class="service-block">
          <div class="service-image">
            <%= image_tag "service-1.png" %>
          </div>
          <div class="service-title">Контроллерное оборудование</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="service-block">
          <div class="service-image">
            <%= image_tag "service-2.png" %>
          </div>
          <div class="service-title">Доп. оснащение для котлов</div>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="service-block">
          <div class="service-image">
            <%= image_tag "service-3.png" %>
          </div>
          <div class="service-title">Автоматизация</div>
        </a>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col">
        <div class="figure-parallelogram get-feedback">
          <a href="#contacts">получить консультацию</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Catalog -->
