<!-- Catalog -->
<section id="catalog">
  <div class="catalog-before"></div>

  <div class="catalog-greyline"></div>
  <div class="catalog-whiteline"></div>

  <div class="wrapper-left"></div>
  <div class="wrapper-right"></div>

  <div class="container">
    <h1 class="title"><%= @settings.block3_title %></h1>

    <div class="row align-items-start list-products">
      <% @products.each do |product| %>
        <div class="col-sm-12 col-md-3 wrapper-block">
          <%= link_to product_path(product), class: "product-block" do %>
            <div class="product-image">
              <%= image_tag(product.image) if product.image.attached? %>
            </div>
            <div class="product-title"><%= product.title %></div>
            <div class="product-more">узнать больше...</div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row align-items-start list-services">
      <% @services.each do |service| %>
        <div class="col-sm-12 col-md-3 wrapper-block">
          <%= link_to product_path(service), class: "service-block" do %>
            <div class="service-image">
              <%= image_tag(service.image) if service.image.attached? %>
            </div>
            <div class="service-title"><%= service.title %></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @settings.block3_button_text.present? && @settings.block3_button_link.present? %>
      <div class="row align-items-start">
        <div class="col">
          <div class="figure-parallelogram get-feedback">
            <%= link_to @settings.block3_button_text, @settings.block3_button_link %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- Catalog -->
