<!-- Contacts -->
<section id="contacts">
  <div class="contacts-before"></div>

  <div class="container">
    <h1 class="title"><%= @settings.contacts_title %></h1>

    <div class="row align-items-start">
      <div class="col">
        <% @contacts.each do |contact| %>
          <div class="contact-info">
            <p class="subtitle"><%= contact.region %></p>
            <% if contact.representative.present? %>
              <p class="subtitle representative"><%= contact.representative %></p>
            <% end %>
            <p class="subtitle address"><%= contact.address %></p>
            <p><%= contact.phone %></p>
            <% if contact.phone_other.present? %>
              <p><%= contact.phone_other %></p>
            <% end %>
            <% if contact.email.present? %>
              <p><%= contact.email %></p>
            <% end %>
            <% if contact.working_hours_weekdays.present? %>
              <p><%= contact.working_hours_weekdays %></p>
            <% end %>
            <% if contact.working_hours_weekends.present? %>
              <p><%= contact.working_hours_weekends %></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col">
        <div class="info-feedback">
          <%= form_with model: @message, url: "/messages", method: :post do |form| %>
            <%= form.hidden_field :type_feedback, value: :appeal %>
            <div class="mb-3">
              <%= form.text_field :name, class: "form-control", placeholder: "Ф.И.О" %>
            </div>
            <div class="mb-3">
              <%= form.text_field :phone, class: "form-control", placeholder: "Телефон" %>
            </div>
            <div class="mb-3">
              <%= form.text_area :question, rows: 3, class: "form-control", placeholder: "Ваш вопрос" %>
            </div>
            <div>
              <%= form.submit "Отправить", class: "btn" %>
            </div>
          <% end %>
        </div>

        <% if @social_links.present? %>
          <div class="info-social">
            <% @social_links.each do |social_link| %>
              <%= link_to social_link.title, social_link.link, target: "_blank" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row align-items-start">
      <% if @settings.contacts_show_map %>
        <div class="col">
          <div class="info-map">
            <p class="subtitle">Яндекс карта проезда</p>

            <div class="map-wrapper">
              <%= @settings.contacts_map.html_safe %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="footer">
        <p>© <%= Date.today.year %></p>
      </div>
    </div>
  </div>
</section>
<!-- Contacts -->
