<!-- Main -->
<section id="main">
  <div class="red-lines__bg"></div>
  <div class="red-lines__bg-mirror"></div>

  <%= render "pages/shared/menu" %>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-md-6 main-blocks">
        <div class="main-title">
          <% @settings.main_title.split("  ").each do |line| %>
            <p><%= line %></p>
          <% end %>
        </div>

        <div class="main-description">
          <% @settings.main_subtitle.split("  ").each do |line| %>
            <p><%= line %></p>
          <% end %>
        </div>

        <% if @settings.main_button_text.present? && @settings.main_button_link.present? %>
          <div class="figure-parallelogram choose-boiler">
            <%= link_to @settings.main_button_text, @settings.main_button_link %>
          </div>
        <% end %>

        <div class="main-triangle__red"></div>
      </div>
      <div class="col-md-6 main-blocks">
        <div class="main-contacts">
          <div class="email"><%= @settings.main_email %></div>
          <div class="phone"><%= @settings.main_phone %></div>
          <div class="address"><%= @settings.main_address.split("  ").first %> <span><%= @settings.main_address.split("  ").last %></span></div>
        </div>

        <div class="geliss"></div>
        <div class="coal"></div>
        <div class="right-elem"></div>

        <div class="white-line"></div>
        <div class="red-line__left"></div>
        <div class="red-line__right"></div>
      </div>
    </div>
  </div>
</section>
<!-- Main -->
