<!-- Reviews -->
<section id="reviews">
  <div class="reviews-before"></div>

  <div class="container">
    <h1 class="title"><%= @settings.block4_title %></h1>

    <div class="row align-items-start list-items">
      <% @reviews.each do |review| %>
        <div class="col-sm-12 col-md-3 wrapper-item">
          <div class="item-review">
            <div class="item-review__header">
              <div class="user-avatar">
                <%= image_tag(review.avatar.variant(:preview)) if review.avatar.attached? %>
              </div>
              <div class="user-name"><%= review.name %></div>
            </div>
            <div class="item-review__body">
              <p><%= review.text %></p>
            </div>
            <% if review.link.present? %>
              <div class="item-review__footer">
                <%= link_to "Смотреть отзыв", review.link, target: "_blank" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @settings.block4_button_text.present? && @settings.block4_button_link.present? %>
      <div class="row align-items-start">
        <div class="col">
          <div class="figure-parallelogram quick-order">
            <%= link_to @settings.block4_button_text, @settings.block4_button_link %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- Reviews -->
