<!-- Support -->
<section id="support">
  <div class="support-before"></div>

  <div class="wrapper-left"></div>
  <div class="wrapper-right"></div>

  <div class="container">
    <h1 class="title"><%= @settings.block7_title %></h1>

    <div class="row align-items-start">
      <div class="col-sm-12 col-md-5">
        <% @groups_left.each.with_index(1) do |group, index| %>
          <div class="<%= index == 1 ? 'instructions' : 'info' %>">
            <p class="subtitle"><%= group.title %></p>
            <% group.supports.each do |support| %>
              <% href = support.link.present? ? support.link : support.file %>
              <%= link_to support.title, href, target: "_blank" %>
            <% end %>
          </div>

          <% if @groups_left.size == index && @settings.block7_button_text.present? && @settings.block7_button_link.present? %>
            <div class="figure-parallelogram your-question">
              <%= link_to @settings.block7_button_text, @settings.block7_button_link %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-5">
        <% @groups_right.each do |group| %>
          <div class="files">
            <p class="subtitle"><%= group.title %></p>
            <% group.supports.each do |support| %>
              <%= link_to support.title, support.link %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- Support -->
