<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white">Товары</h3>
    </div>
    <div>
      <%= link_to "Создать", new_product_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Список</div>
  <div class="card-body">
    <p><%= params %></p>
    <% if @products.present? %>
      <table class="table table-striped align-middle text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Картинка</th>
            <th scope="col">Название</th>
            <th scope="col">Старая цена</th>
            <th scope="col">Цена</th>
            <th scope="col">Описание</th>
            <th scope="col">SKU</th>
            <th scope="col">Тип</th>
            <th colspan="2" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each.with_index(1) do |product, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= image_tag(product.image) if product.image.attached? %></td>
              <td><%= product.title %></td>
              <td><%= product.old_price %></td>
              <td><%= product.price %></td>
              <td><%= product.description %></td>
              <td><%= product.sku %></td>
              <td><%= product.product_type %></td>
              <td><%= link_to "Редактировать", edit_product_path(product), class: "btn btn-primary" %></td>
              <td><%= link_to "Удалить", product_path(product), class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-primary text-center" role="alert">Упс! Данные не найдены.</div>
    <% end %>
  </div>
</div>
