<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white">Отзывы</h3>
    </div>
    <div>
      <%= link_to "Создать", new_review_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Список</div>
  <div class="card-body">
    <% if @reviews.present? %>
      <table class="table table-striped align-middle text-center">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Аватар</th>
          <th scope="col">Имя</th>
          <th scope="col">Текст</th>
          <th scope="col">Ссылка</th>
          <th colspan="2" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @reviews.each.with_index(1) do |review, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= image_tag(review.avatar) if review.avatar.attached? %></td>
            <td><%= review.name %></td>
            <td><%= review.text %></td>
            <td><%= link_to review.link, review.link, target: "_blank" %></td>
            <td><%= link_to "Редактировать", edit_review_path(review), class: "btn btn-primary" %></td>
            <td><%= link_to "Удалить", review_path(review), class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-primary text-center" role="alert">Упс! Данные не найдены.</div>
    <% end %>
  </div>
</div>
