<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel: Котлы Сибири</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin" %>
    <%= javascript_include_tag "admin" %>
  </head>
  <body class="bg-light">
    <div class="page-content">
      <%= render 'admin/shared/header' %>

      <div class="bg-primary"></div>

      <div class="container-fluid page-content__wrapper">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
